.nav-link {
  font-family: impact;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 30px;
}

.nav-link:hover {
  color: rgba(182, 215, 243);
}

.jumbotron {
  background-image: url("https://lh5.googleusercontent.com/p/AF1QipOdHo6jv2Usn7vyUbl2C0FE9JwF7zvwaZZixCX1=w408-h306-k-no");
  background-size: cover;
  height: 500px;
}

@media (min-widht: 992px) {
  font-family: impact;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 30px;
}
